@media only screen and (max-width: 600px){
    .big-text {
        font-size: 50px;
        margin: 0 20px;
        
    }

    h1{
        font-size: 30px;
    }

    .countdown-el span{
        font-size: 15px;
    }
}
   